﻿@using Minesweeper.Utils;
@model Minesweeper.Models.Minefield

@{
    ViewBag.Title = "Minesweeper";
}
<html>
<head>
    <style>
        body {
            background-color: linen;
            position: absolute;
        }

        .textBox {
            background-color: linen;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
        }

        .board {
            width: 100mm;
            height: 100mm;
        }

        .mineFieldDefault {
            width: 10mm;
            height: 10mm;
            border: solid;
            float: left;
        }

        .mystery {
            background-color: blue;
            border-color: lightblue;
        }

        .cleared {
            background-color: green;
            border-color: lightgreen;
        }

        .mined {
            background-color: red;
            border-color: lightsalmon;
        }

        .mysterymined {
            background-color: deeppink;
            border-color: lightpink;
        }
    </style>
</head>
<body>
    <div class="textBox" id="TitleBar" style="width: 120mm">Minesweeper</div>
    <div class="textBox" id="GameOver" style="width: 120mm; font-size: larger; position: relative" @(Model.GameOver ? "" : "hidden")>Game Over</div>
    <a href="@Url.Action("Reset", "Home")"><div>Reset</div></a>
    <div class="board">
        @foreach (var row in Model)
        {
            foreach (var item in row)
            {
                <a href="@Url.Action("Index", "Home", new { x = item.X, y = item.Y })">
                    <div class="mineFieldDefault @(IndexUtils.CalculatePatchColour(item.Cleared, item.Mined, Model.GameOver))">@item.SurroundingMines</div>
                </a>
            }
        }
    </div>
</body>
</html>